.body{
    flex-wrap: wrap;
}

.searchBox {
    display: flex;
    padding-left: 10px;
    width: 80%;
}

.control-panel {
    font-size: 18px;
    border-radius: 20px;
    margin: 5px;
    width: 180px;
    height: 50px;
}

.recently-seen {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    color: #000;
}

.btn-more {
    width: 10%;
    height: 50px;
    font-size: 16px;
    background: gainsboro;
}