.icon-app {
    display: flex;
    height: 100%;
    align-self: self-start;
}

.login-body {
    width: 100%;
    max-width: 400px;
    align-self: center;
}

.separators {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sized-box {
    height: 3px;
    width: 45%;
    background-color: gainsboro;
    border-radius: 20px;
}

.divider {
    height: 20px;
}

.legal-info {
    display: flex;
    width: 100%;
    margin-left: 60px;
}

.divider-vertical {
    width: 3px;
    height: 20px;
    background-color: gainsboro;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

.terms-and-politics {
    color: #45a049;
}