.date-time-picker {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #3f51b5;
}
  
.date-time-picker div {
    display: flex;
    flex-direction: column;
}
  
.date-time-picker label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}
  
.date-time-picker input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
  
.date-time-picker button {
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
  .date-time-picker button:hover {
    background-color: #303f9f;
  }