.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    /*border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;*/
}
  
.login-label {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.credentials-label {
    display: block;
    margin: 10px 0 5px;
}
  
.credentials-input {
    padding: 15px;
    /*margin-bottom: 15px;*/
    border: 1px solid #ccc;
    border-radius: 10px;
}

.credential {
    display: flex;
}

.green-credential {
    color: #45a049;
}
  
.accept-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.accept-button:hover {
    background-color: #45a049;
}
  
.error {
    color: red;
    margin-bottom: 15px;
}
  